@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontTitulo);
    scroll-behavior: smooth;
}

:root{
    --principal: #0092FA;
    --secundario: #e7cd04;
    --titulosecudario:#4F97CD;
    --texto:#83CCCD;
    --fontTitulo: "Montserrat", sans-serif;
}

#logo{
    background: var(--principal);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 21vh;
    position: relative;
}

#logo #imgLogo{
    flex: 30%;
    height: 98%;
    margin: 1% 2% 2% 8%;
    overflow: hidden;
}

#imgLogo>img{
    width: 40%;
    height: 80%;
    object-fit: contain;
    border-radius: 5px;
}

#logo nav{
    flex: 50%;
    height: 50px;
    margin: 2% 8% 2% 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo>nav a ,#menuLink>a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family:var(--fontTitulo);
    font-size: 16px; 
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.144);
    font-weight: 500;
}

#logo>nav>a:hover{
    color: var(--secundario);
    border-bottom: 2px solid var(--secundario);
    transition: 1s ease-in-out;
}

/* menu moblile */

#celular{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 320px;
    overflow: hidden;
    display: none;
}

#celular input[type="checkbox"]{
    display: none;
}

#menuH{
    float: right;
    margin: 1rem;
    
}

#menuH .homeIcone{
    font-size: 38px;
    color: white;
 }

#menuLink{
    width: 320px;
    margin: 3rem auto;
    height: auto;
    background-color: #83CCCD;
    transition: 1s ease-in;
    transform: translateX(340px);
    padding: 1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
}
#menuLink > a{
    display: block;
    margin: 1rem;
    padding: 0.2rem;
}
#menuLink > a:hover{
    color: var(--principal);
    border-bottom: 2px solid var(--principal);
    transition: 1s ease-in-out;
}

#celular input[type="checkbox"]:checked ~ #menuLink{
    transform: translateX(-1px);
}

.btnSair{
    display: block;
    width: 100px;
    height: 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #4F97CD;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.166);
    transition: 0.1s ease-in-out;
    z-index: 2;
}

.btnSair:hover{
    background-color: #003357;
   
}
.btnSair:active{
    background-color: yellow;
    transition: 0
   
}

/* main */

main{
    margin: 3rem auto;
    max-width: 1400px;
}

/* login */

section#adminL{
    background-color: var(--secundario);
    margin: 1rem auto;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


#imgLog{
    flex: 60%;
    height: 500px;
}

#imgLog img{
    width: 100%;
    height: 98%;
    object-fit: cover;
}

#formularioL{
    flex: 40%;
}

#formularioL form{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
}

#formularioL form .campos{
    margin: 1.5rem auto;
}

#formularioL form .campos input{
    display: block;
    margin: auto;
    width: 90%;
    height: 35px;
    border-radius: 8px;
    border: none;
    text-align: center;
}

#formularioL form .campos button{
    display: block;
    width: 40%;
    height: 45px;
    margin: 1.5rem auto;
    border: none;
    background-color: var(--principal);
    border-radius: 10px;
}

/* pagina admin */

#paginaI{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 4.5rem auto;
}

.opcPaginaI{
    width: 300px;
    border: 2px solid var(--principal);
    padding: 1rem ;
    margin: 1rem;
    border-radius: 10px;
}

.opcTitulo{
    font: 700 16px --fontTitulo;
    margin: 1rem auto;
}

.btnP a {
    text-decoration: none;
}

.btnP a button{
    display: block;
    width: 160px;
    height: 40px;
    margin: 2rem auto;
    border: none;
    background-color: var(--secundario);
    border-radius: 10px;
    transition:  0.5s ease-out;

  
}

.btnP a button:hover{
    background-color: #0092FA;
}

.btnP a button:active{
    background-color: #f6fa00;
}

/* criar Pergunta  criar projeto*/
.caixaF{
    width: 99%;
    margin: 2rem auto;
}

.caixaF form{
    width: 500px;
    margin: auto;
    border: 2px solid var(--principal);
    border-radius: 10px;
}

.caixaF .campos{
    margin: 1rem auto; 
}


.campos .tituloF{
    padding: 0.5rem;
    background-color: var(--principal);
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: 2rem auto;
}

.campos input{
    display: block;
    width: 90%;
    margin: auto;
    height: 40px;
}

.campos textarea{
    display: block;
    width: 90%;
    margin: auto;
    height: 120px;
}

.campos .btnC{
    display: block;
    width: 120px;
    margin: 2rem auto;
    height: 42px;
    border-radius: 10px;
    border: none;
    background-color: #0092FA;
    transition: 0.5s ease-in-out;
}
.campos .btnC:hover{
    background: none;
    border: 1px solid #003357;
}
.campos .btnC:active{
    background: #003357;

    border: 1px solid #003357;
}
.campos select{
    display: block;
    margin: auto;
}
.campos img{
    width: 90%;
    display: block;
    margin: 2rem auto;
    height: auto;
    object-fit: cover;
}
/* footer */

div#apEmpresa{
    background-color: var(--principal);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

div#imgFooter{
    flex: 20%;
    height: 100px;
    margin: 2% 3%;
}

div#imgFooter img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}

#navFooter{
    flex: 20%;
    margin: 2% 8%;
}
#navf{
    width: 130px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#msg{
    display: block;
    width: 100%;
    margin: 2rem;
    text-align: center;
    color: white;
}

#navf a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-family:var(--fontTitulo);
    font-weight: 600;
    font-size: 16px; 
    cursor: pointer;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.144);
}

#navf>a:hover{
    color: var(--secundario);
    border-bottom: 2px solid var(--secundario);
    transition: 1s ease-in-out;

}

#imgfooter{
    flex: 20%;
    height: 100px;
    margin: 2% 8%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#imgfooter img{
    width: 35px;
    height: 35px;
    object-fit: fill;

}

/* ver projeto e pergunta */

.caixaVer{
    width: 100%;
}
.caixaVer table{
    width: 98%;
    margin: 5rem auto;
    border-collapse: collapse;
    border: 1px solid black;
    padding: 0.2rem;
    border-radius: 10px;
    z-index: 5;
    height: 250px;
    overflow: hidden;

}
thead th{
    padding: 0.8rem;
    background-color: #4F97CD;
}

tbody td{
    border: 1.2px solid black;
    padding: 0.3rem;
    background-color: #003357;
}

tbody tr:nth-child(even){
    background-color: #00335722;
}

tbody td.caixabT{
    background-color: #4F97CD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 99%;
}


tbody td.caixabT a{
   text-decoration: none;
   margin: 1px 10px;
}
tbody td.caixabT a .btnD{
  background-color: rgba(255, 0, 0, 0.468);
  border: none;
  font-size: 25px;
  border-radius: 5px;
  padding: 0.1rem;
  transition: 0.4s;
  border: 2px solid  rgba(255, 0, 0, 0.201);
  transition: 0.4s;
}
tbody td.caixabT a .btnD:hover{
 border: 2px solid rgba(255, 0, 0, 0.604) ;
 background: none;
 color: red;
 
}

tbody td.caixabT a .btnE{
  background-color: rgba(255, 251, 0, 0.56);
  border: none;
  font-size: 25px;
  border-radius: 5px;
  padding: 0.1rem;
  border: 2px solid  rgba(255, 251, 0, 0.56);
  transition: 0.4s;
}
tbody td.caixabT a .btnE:hover{
  border: 2px solid  rgba(255, 251, 0, 0.56);
  color: #e7cd04;
  background: none;

}

tbody td.caixabT a{
   text-decoration: none;
   margin: 1px 10px;
}

#mensagem{
    margin: 1rem auto;
    background-color: #e7cd04;
    width: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width:420px) {
    main{
        width: 100%;
    }
    .apServicos{
        height: auto;
    }
   
    
}
@media screen and (min-width:840px) and (max-width:1200px)  {
    main{
        width: 99%;
        margin: auto;

    }
    #logo nav{
        display: none;
    }

    #celular{
        display: block;
    }

    #imgApresetacao{
        flex: 55%;
        height: 100%;
    }
  
    #caixaTextoa{
        flex:45%;
        font-family: var(--fontTitulo);
        margin: auto;
        text-align: center;
    }
    #textoa{
        width: 100%;
        padding: 0.2rem;
        border: 2px solid var(--principal);
        border-radius: 15px;
        box-sizing: 1px 1px 1px rgba(0, 0, 0, 0.049);
      
        
    }

    .caixaVer{
        width: 99%;
        margin: auto;
    }
    .caixaVer table{
        width: 90%;
        margin: 5rem auto;
        border-collapse: collapse;
        border: 1px solid black;
        padding: 0.2rem;
        border-radius: 10px;
        z-index: 2;
        height: 250px;
        overflow: hidden;
    
    }
   
    
}


@media screen and (max-width:840px){

    #logo nav{
        display: none;
    }

    #celular{
        display: block;
    }
    
    main{
        margin: 5rem auto;
        width: 99%;

    }

    section#caixaApresetacao{
        display: block;
        height: auto;
        margin: 2rem auto;
    }

    #imgApresetacao{
        display: block;
        width: 100%;
        margin: auto;
        text-align: center
    }
    #imgApresetacao img{
        display: block;
        width: 100%;
        margin: auto;
    }

    #caixaTextoa #textoa{
        display: block;
        width: 80%;
        margin: 1rem auto;
    
    }
    #projeto,#projetom{
        width: 99%;
        margin: 3rem auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    
    #imgLog{
        flex: 80%;
       
    }
    
    
    #formularioL{
        flex: 60%;
        margin: 2rem auto;
    }

    .caixaF form{
        width: 90%;
        margin: auto;
        border: 2px solid var(--principal);
        border-radius: 10px;
    }

    .caixaVer{
        width: 99%;
        margin: auto;
        overflow: hidden;
    }
    .caixaVer table{
        width: 99% !important;
        margin: 5rem auto;
        border-collapse: collapse;
        border: 1px solid black;
        padding: 0.2rem;
        border-radius: 10px;
        z-index: 2;
        height: 250px;
        overflow: hidden !important;
    
    }
    
    
}

/* mensagem */

.caixaMensagem {
    width: 90%;
    border-radius: 5px;
    display: none;
    color: white;
    border-radius: 10px;
    padding: 0.3rem;
    text-align: center;
    margin: 2rem auto;
}

.caixaMensagem.show {
    display: block;
}

.fecharMsg  {
    cursor: pointer;
    float: right;
    font-size: 16px;
    
}


.msgInfo{
    background-color: #0066ae;
    color: white;
}
.msgSucesso{
    background-color: #51ff0076;
    color: green;
}
.msgErro{
    background-color: #ff00006c;
    color: rgb(128, 0, 0);
}

.img_edit img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.deletarDados{
    background-color: rgba(255, 0, 0, 0.458) !important;
}