

<section id="contato">
    <div id="contatoB">
        <p id="tel">Tel:(88) 988010-2011</p>
        <p id="email">E-mail: m&n solucoes digital </p> 

        <div id="redesS">
            <img src="img/face.png" alt="facebock">
            <img src="img/insta.png" alt="instagram">
            <img src="img/waths.png" alt="wathsapp">
        </div>
    </div>

    <div id="formulario">
        <form >
            <div class="campos">
                <p id="dados">Adicione os dados de seu Projeto</p>
            </div>
            <div class="campos">
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome: ">
            </div>
            <div class="campos">
                <input type="email" name="email" id="email" placeholder="Digite seu emeil: ">
            </div>

            <div class="campos">
                <select name="servico" id="sevico">
                    <option value="0" selected disabled>Selecione um tipo para o seu projeto!</option>
                    <option value="devweb">Desevolvimento Web</option>
                    <option value="makdigital">Markite Digital</option>
                    <option value="gestaop">Gestão de Projetos</option>
                    <option value="supComp">Suporte e Manuntenção de Computadores</option>
                </select>
            </div>
            
            <div class="campos">
                <textarea name="descServico" id="descServico" cols="40" rows="10" placeholder="Descreva o seu Projeto ou duvidas"></textarea>
            </div>
            <div class="campos">
                <button>Enviar Dados</button>
            </div>
        </form>
    </div>
  
</section>