<section id="caixaApresetacao">
    <div id="imgApresetacao">
        <img src="img/apresetacao.png" alt="">
    </div>

    <div id="caixaTextoa">
        <div id="textoa">
            <div id="textoAPres">
                <h2>M&N Soluções Digitais</h2>
                <div id="textoA">
                    <p class="primeiro">"Descubra como a M&N Soluções Digitais pode impulsionar o seu negócio com
                        soluções digitais inovadoras. Oferecemos uma variedade de serviços para atender às necessidades
                        da sua empresa.Entre em contato conosco e conheça como podemos fazer a diferença para o seu
                        sucesso online!"</p>
                </div>
            </div>
            <div id="btnApres">
                <button id="btnAp">
                    Nosso Serviços
                </button>
            </div>
        </div>
    </div>
</section>

<section id="contato">
    <div id="contatoB">
        <p id="tel">Tel:(88) 988010-2011</p>
        <p id="emil">e-mail: aaa@email.com</p> 

        <div id="">
            <img src="img/face.png" alt="facebock">
            <img src="img/insta.png" alt="instagram">
            <img src="img/waths.png" alt="wathsapp">
        </div>
    </div>

    <div id="formulario">
        <form action="">
            <div class="campos">
                <input type="text" name="nome" id="nome" placeholder="digite seu nome: ">
            </div>
            <div class="campos">
                <input type="email" name="email" id="email" placeholder="digite seu emeil: ">
            </div>
            <div class="campos">
                <select name="servico" id="sevico">
                    <option value="devweb">Desevolvimento Web</option>
                    <option value="makdigital">Markite Digital</option>
                    <option value="gestaop">Gestão de Projetos</option>
                    <option value="supComp">Suporte e Manuntenção de Computadores</option>
                </select>
            </div>
            <div class="campos">
                <textarea name="descServico" id="descServico" cols="40" rows="10" placeholder="Descreva o seu Projeto ou duvidas"></textarea>
            </div>
        </form>
    </div>
  
</section>