<section id="caixaApresetacao">
    <div id="imgApresetacao">
        <img src="img/apresetacao.png" alt="">
    </div>

    <div id="caixaTextoa">
        <div id="textoa">
            <div id="textoAPres">
                <h2>M&N Soluções Digitais</h2>
                <div id="textoA">
                    <p class="primeiro">"Descubra como a M&N Soluções Digitais pode impulsionar o seu negócio com
                        soluções digitais inovadoras. Oferecemos uma variedade de serviços para atender às necessidades
                        da sua empresa.Entre em contato conosco e conheça como podemos fazer a diferença para o seu
                        sucesso online!"</p>
                </div>
            </div>
            <div id="btnApres">
                <button id="btnAp">
                    Nosso Serviços
                </button>
            </div>
        </div>
    </div>
</section>

<div class="tituloSobre">
    <h3>O que é a M&N Soluções Digitais ?</h3>
</div>

<section id="sobre">

    <div id="textoSobre">

        <p class="primeiro"><strong>A M&N Soluções Digitai</strong>s é uma empresa localizada na região do Cariri, está
            revolucionando o cenário tecnológico ao promover soluções digitais inovadoras para empresas de todos os
            portes. Nosso compromisso é impulsionar o sucesso de nossos clientes por meio de serviços especializados que
            abrangem desde o desenvolvimento de websites e aplicativos até estratégias abrangentes de marketing digital.

            <mark>Na M&N Soluções Digitais, entendemos que cada empresa é única, com necessidades e objetivos
                específicos. É por isso que oferecemos uma abordagem personalizada em cada projeto que assumimos</mark>.
            Nossa equipe experiente trabalha em estreita colaboração com nossos clientes para entender suas metas e
            desafios, criando soluções sob medida que agregam valor real aos seus negócios.
        </p>

        <p class="primeiro">
            Com um foco incansável na qualidade e na inovação, buscamos constantemente as últimas tendências e
            tecnologias para garantir que nossos clientes estejam sempre à frente da concorrência. Seja você uma startup
            em busca de uma presença online impactante ou uma empresa estabelecida procurando otimizar suas operações
            digitais, estamos aqui para ajudar.

            Alem disso, nossos serviços abrangem uma ampla gama de áreas, incluindo design e desenvolvimento web,
            otimização de mecanismos de busca (SEO), gestão de mídias sociais, campanhas de publicidade online,
            automação de marketing e muito mais. Além disso, oferecemos suporte contínuo e consultoria para garantir que
            nossos clientes alcancem e mantenham o sucesso a longo prazo.
        </p>

        <p class="primeiro">
            Ao longo dos anos, construímos uma reputação sólida de excelência e confiabilidade, trabalhando lado a lado
            com nossos clientes para entender suas metas e desafios específicos. Acreditamos firmemente que o sucesso
            deles é o nosso sucesso, e é por isso que dedicamos toda a nossa expertise e recursos para ajudá-los a
            alcançar seus objetivos comerciais.

            Nossos serviços abrangem uma ampla gama de áreas, desde o desenvolvimento de websites e aplicativos até
            estratégias avançadas de marketing digital. Utilizando as mais recentes tecnologias e práticas recomendadas
            da indústria, projetamos e implementamos soluções sob medida que não apenas impressionam visualmente, mas
            também geram resultados tangíveis.

            No coração de tudo o que fazemos está o compromisso com a qualidade e a satisfação do cliente. Estamos
            constantemente buscando maneiras de melhorar e aprimorar nossos serviços, garantindo que nossos clientes
            recebam o mais alto padrão de atendimento e suporte em cada interação.
        </p>



        <p class="primeiro">Na M&N Soluções Digitais, não apenas fornecemos soluções tecnológicas de ponta, mas também
            construímos relacionamentos duradouros baseados na confiança, integridade e compromisso mútuo. Se você está
            pronto para levar sua empresa para o próximo nível no mundo digital, entre em contato conosco hoje mesmo e
            descubra como podemos ajudá-lo a alcançar o sucesso que você merece. Juntos, vamos transformar sua visão em
            realidade digital e abrir novos horizontes para o seu negócio.</p>
    </div>
</section>

<div class="tituloSobre">
    <h4>Nosso serviços</h4>
</div>

<section id="caixaInformacao">

    <div class="apServicos">
        <div class="tituloServico">
            <p>Desevolvimento Web</p>
        </div>
        <div class="descricaoServico">
            <p class="primeiro">Desenvolvimento web é o processo de criar e manter websites e aplicativos web. Isso
                inclui planejamento, design, codificação, integração e teste. No front-end, trabalhamos na interface do
                usuário, enquanto no back-end lidamos com a lógica e funcionalidade do site. Após o teste e a
                implantação, a manutenção contínua é essencial para garantir o desempenho e a segurança do site.</p>
        </div>
    </div>



    <div class="apServicos">
        <div class="tituloServico">Markite Digital</div>
        <div class="descricaoServico">
            <p class="primeiro">
                Marketing digital é uma estratégia de promoção de produtos, serviços ou marcas utilizando canais
                digitais. Isso inclui diversas atividades, como otimização de mecanismos de busca (SEO), marketing de
                conteúdo, mídias sociais, e-mail marketing, publicidade online, entre outras. O objetivo do marketing
                digital é aumentar a visibilidade da marca, atrair clientes e gerar vendas ou leads. É uma abordagem
                essencial para alcançar o público-alvo de forma eficaz na era digital.</p>
        </div>
    </div>
    <div class="apServicos">
        <div class="tituloServico">Gestão de Projetos</div>
        <div class="descricaoServico">
            <p class="primeiro">
                A criação e gestão de projetos envolvem a concepção, planejamento, execução e controle de iniciativas
                específicas para alcançar metas definidas. Isso inclui definir objetivos, elaborar um plano detalhado,
                coordenar atividades, monitorar o progresso e avaliar os resultados. Com habilidades de liderança e uso
                de metodologias adequadas, os projetos são concluídos com sucesso dentro do prazo e do orçamento
                estabelecidos.
            </p>
        </div>
    </div>
    <div class="apServicos">
        <div class="tituloServico">Suporte e Manuntenção de Computadores</div>
        <div class="descricaoServico">
            <p class="primeiro">
                A suposta e manutenção de computadores refere-se ao conjunto de atividades relacionadas à instalação,
                configuração, reparo e atualização de hardware e software em sistemas computacionais. Isso inclui
                diagnóstico de problemas, substituição de componentes defeituosos, instalação de programas, limpeza
                interna, atualização de drivers e sistema operacional, entre outras tarefas</p>
        </div>
    </div>

</section>

<div class="tituloSobre">
    <h5>Perguntas Frequentes</h5>
</div>

<section id="caixaDfrequentes">
    <div id="caixaImgd">
        <img src="img/duvids.png" alt="">
    </div>
    <div id="caixaDuvidas">
        <div class="duvidasFequentes">
            <div class="caixaPergunta">
                <p class="pergunta">Quais são os serviços oferecidos pela M&N Soluções Digitais?

                </p>
                <p class="material-symbols-outlined seta">
                    expand_more
                </p>
            </div>

            <div class="caixaResposta caixaFechada">
                <p class="resposta ">
                    Desenvolvimento web, marketing digital, consultoria em tecnologia, entre outros.
                </p>

            </div>
        </div>
        <div class="duvidasFequentes">
            <div class="caixaPergunta">
                <p class="pergunta">A M&N Soluções Digitais trabalha apenas com empresas do Cariri?</p>
                <p class="material-symbols-outlined seta">
                    expand_more
                </p>

            </div>
            <div class="caixaResposta caixaFechada">
                <p class="resposta ">Não, atendemos clientes de diversas regiões, não apenas do Cariri.</p>
            </div>
        </div>
        <div class="duvidasFequentes">
            <div class="caixaPergunta">
                <p class="pergunta">Quais são os benefícios do marketing digital para minha empresa</p>
                <p class="material-symbols-outlined seta">
                    expand_more
                </p>
            </div>
            <div class="caixaResposta caixaFechada">
                <p class="resposta">Aumento da visibilidade online, geração de leads qualificados, maior alcance de público-alvo, entre outros.</p>
            </div>
        </div>
        <div class="duvidasFequentes">
            <div class="caixaPergunta">
                <p class="pergunta">
                    A M&N Soluções Digitais oferece serviços de consultoria em TI?
                </p>
                <p class="material-symbols-outlined seta">
                    expand_more
                </p>
            </div>

            <div class="caixaResposta caixaFechada">
                <p class="resposta">
                    Sim, oferecemos consultoria em tecnologia para ajudar empresas a otimizar seus processos e maximizar o uso da tecnologia.
                </p>
            </div>
        </div>

        <div id="btnDfrequentes">
            <button id="">Ver mais Perguntas!</button>

        </div>

    </div>
</section>