
<section id="caixaApresetacao">
    <div id="imgApresetacao">
        <img src="img/apresetacao.png" alt="">
    </div>

    <div id="caixaTextoa">
        <div id="textoAPres">
            <h2>M&N Soluções Digitais</h2>
            <P>Quer uma solução digital para sua empresa 
            Conheça nossos Serviços</p>
        </div>
        <div id="btnApres">
            <button id="btnAp">
                Nosso serviços
            </button>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="tituloSobre">
        <h3>O que é a M&N Soluções Digitais</h3>
    </div>
    <div id="textoSobre">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint impedit id veritatis <mark>repudiandae ducimus nostrum aspernatur eligendi expedita laudantium.</mark> Aliquid ut commodi a expedita eligendi ducimus animi labore ipsum.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores reiciendis quia autem molestiae facere quod quam ipsa velit id! Iusto, placeat vitae vel impedit inventore excepturi nulla nobis exercitationem laudantium. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque eum dignissimos obcaecati corrupti quasi doloribus possimus sed modi voluptas, facilis earum voluptate debitis nulla autem esse quos vero, maiores similique.
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus esse saepe quasi corrupti sunt dolore quis? Harum ullam eveniet molestiae, debitis quasi quis qui consequatur sunt ipsam facilis nostrum voluptate. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dolorem voluptatibus doloremque culpa corporis voluptatem possimus modi commodi sint, quos nulla architecto aliquam consequuntur a accusantium? Sit adipisci aliquid ea.</p>
    </div>
</section>

<div class="tituloSobre">
    <h4>Nosso serviços</h4>
</div>

<section id="caixaInformacao">
    
        <div class="apServicos">
            <div class="tituloServico"><p>Teste1</p></div>
            <div class="descricaoServico"><p>descricaoa01</p></div>
        </div>
        <div class="apServicos">
            <div class="tituloServico">Teste1</div>
            <div class="descricaoServico">descricaoa01</div>
        </div>
        <div class="apServicos">
            <div class="tituloServico">Teste1</div>
            <div class="descricaoServico">descricaoa01</div>
        </div>
        <div class="apServicos">
            <div class="tituloServico">Teste1</div>
            <div class="descricaoServico">descricaoa01</div>
        </div>
        <div class="apServicos">
            <div class="tituloServico">Teste1</div>
            <div class="descricaoServico">descricaoa01</div>
        </div>
        <div class="apServicos">
            <div class="tituloServico">Teste1</div>
            <div class="descricaoServico">descricaoa01</div>
        </div>
        </section>
        
        <div class="tituloSobre">
        <h5>Duvidas Frequetes</h5>
        </div>
        <section id="caixaDfrequentes">
        <div id="caixaImgd">
            <img src="img/duvids.png" alt="">
        </div>
        <div id="caixaDuvidas">
            <div class="duvidasFequentes">
                <div class="caixaPergunta">
                    <p class="pergunta">p1</p>
                </div>
                <div class="caixaResposta">
                    <p class="resposta">r1</p>
                </div>
            </div>
            <div class="duvidasFequentes">
                <div class="caixaPergunta">
                    <p class="pergunta">p1</p>
                </div>
                <div class="caixaResposta">
                    <p class="resposta">r1</p>
                </div>
            </div>
            <div class="duvidasFequentes">
                <div class="caixaPergunta">
                    <p class="pergunta">p1</p>
                </div>
                <div class="caixaResposta">
                    <p class="resposta">r1</p>
                </div>
            </div>
            <div class="duvidasFequentes">
                <div class="caixaPergunta">
                    <p class="pergunta">p1</p>
                </div>
                <div class="caixaResposta">
                    <p class="resposta">r1</p>
                </div>
            </div>
            <div id="btnDfrequentes">
                <button id="">Vermaisduvidas</button>
            </div>
    </div>
</section>
