
    <div id="apEmpresa">
        <div id="imgFooter">
            <img src="/img/a1logo_empresa.png" alt="imagem_logo">
        </div>
        <nav id="navFooter">
            <div id="navf">
                <a href="../">
                 Home   
                </a>
                <a href="../#sobre">Sobre</a>
                <a href="../projetos">Nosso projetos</a>
            </div>
        </nav>
        <div id="imgfooter">
            <img src="/img/face.png" alt="facebock">
            <img src="/img/insta.png" alt="instagram">
            <img src="/img/waths.png" alt="wathsapp">
        </div>
        <div id="msg">
            <p>&copy; Todos direitos resevados a tec </p>
        </div>
    </div>
  