<div id="logo">
    <div id="imgLogo">
        <img src="/img/a1logo_empresa.png" alt="imagem_logo">
    </div>
    <nav>
        <a href="{{url.url}}">
            Home
        </a>
        <a href="{{url.url '#sobre'}}">Sobre nós</a>
        <a href=" {{url.url 'projetos'}}">Nossos projetos</a>
        <a href="{{url.url 'contato'}}">Fale Conosoco</a>
    </nav>

   <div id="celular">

    <input type="checkbox" name="menu" id="menu">
    <label id="menuH" for="menu"><span class="material-symbols-outlined homeIcone">
        menu
        </span>
    </label>

    <div id="menuLink">
        <a href="{{url.url}}">
            Home
        </a>
        <a href="{{url.url '#sobre'}}">Sobre nós</a>
        <a href="{{url.url 'projetos'}}">Nossos projetos</a>
        <a href="{{url.url 'contato'}}">Fale Conosoco</a>
    </div>
   </div>
</div>