<div id="logo">
    <div id="imgLogo">
        <img src="img/a1logo_empresa.png" alt="imagem_logo">
    </div>
    <nav>
        <a href="/">
            Home
        </a>
        <a href="#sobre">Sobre nós</a>
        <a href="/projetos">Nosso projetos</a>
        <a href="/contato">Fale Conosoco</a>
    </nav>

   <div id="celular">

    <input type="checkbox" name="menu" id="menu">
    <label id="menuH" for="menu"><span class="material-symbols-outlined homeIcone">
        menu
        </span>
    </label>

    <div id="menuLink">
        <a href="/">
            Home
        </a>
        <a href="#sobre">Sobre nós</a>
        <a href="/projetos">Nosso projetos</a>
        <a href="/contato">Fale Conosoco</a>
    </div>
   </div>
</div>