<div id="logo">
    <div id="imgLogo">
        <h1> N&M SoluçõesDigitis</h1>
    </div>
    
    <nav>
        <a href="{{url.url 'admin'}}">
            Home
        </a>
        <a href="{{url.url 'admin/criar/duvidas'}}">Criar perguntas </a>
        <a href="{{url.url 'admin/criar/projeto'}}">Criar Projeto</a>
        <a href="{{url.url 'admin/ver/duvidas'}}">ver Pergunta</a>
        <a href="{{url.url 'admin/ver/projetos'}}">ver Projetos</a>
        
        
        {{#if  btnv}}
            <button class="btnSair">Sair</button>
        {{/if}}
        
    
    </nav>

   <div id="celular">

    <input type="checkbox" name="menu" id="menu">
    <label id="menuH" for="menu"><span class="material-symbols-outlined homeIcone">
        menu
        </span>
    </label>

    <div id="menuLink">
        <a href="{{url.url 'admin'}}">
            Home
        </a>
        <a href="{{url.url 'admin/criar/duvidas'}}">Criar perguntas </a>
        <a href="{{url.url 'admin/criar/projeto'}}">Criar Projeto</a>
        <a href="{{url.url 'admin/ver/duvidas'}}">ver Pergunta</a>
        <a href="{{url.url 'admin/ver/projetos'}}">ver Projetos</a>
        
        
        {{#if  btnv}}
            <button class="btnSair">Sair</button>
        {{/if}}
    </div>
   </div>
</div>