<section id="adminL">
    <div id="imgLog">
        <img src="img/apresetacao.png" alt="img">
    </div>
    <div id="formularioL">
        <form action="/admin" method="post">
            <div class="campos">
                <input type="email" placeholder="Digite seu Email" name="email">
            </div>

            <div class="campos">
                <input type="password" placeholder="Digite sua Senha" name="senha">
            </div>

            <div class="campos">
                <button>Login</button>
            </div>
        </form>
    </div>
</section>