<section id="paginaI">
    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Criar Perguntas Frequetes</p>
        </div>
        <div class="btnP">
            <a href=""><button> Criar Perguntas</button></a>
        </div>
    </div>

    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Ver Perguntas Frequetes</p>
        </div>
        <div class="btnP">
            <a href=""><button>Ver perguntas</button></a>
        </div>
    </div>

    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Adicionar Projetos</p>
        </div>
        <div class="btnP">
            <a href=""><button>Criar Projetos</button></a>
        </div>
    </div>
    
    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>ver projetos</p>
        </div>
        <div class="btnP">
            <a href=""><button>Ver projetos</button></a>
        </div>
    </div>
 
</section>