<section id="paginaI">
    
    
    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Criar Perguntas Frequetes</p>
        </div>
        <div class="btnP">
            <a href="{{url.url 'admin/criar/duvidas'}}">
                <button> Criar Perguntas</button>
            </a>
        </div>
    </div>

    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Ver Perguntas Frequetes</p>
        </div>
        <div class="btnP">
            <a href="{{url.url 'admin/ver/duvidas'}}"><button>Ver perguntas</button></a>
        </div>
    </div>

    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>Adicionar Projetos</p>
        </div>
        <div class="btnP">
            <a href="{{url.url 'admin/criar/projeto'}}"><button>Criar Projetos</button></a>
        </div>
    </div>
    
    <div class="opcPaginaI">
        <div class="opcTitulo">
            <p>ver projetos</p>
        </div>
        <div class="btnP">
            <a href="{{url.url 'admin/ver/projetos'}}"><button>Ver projetos</button></a>
        </div>
    </div>
 
</section>