<section id="adminL">

{{#if menssagem}}
    {{#each menssagem}}
    <div class="caixaMensagem {{class}}">
        <p >{{msg}}</p>
        <span class="fecharMsg material-icons-outlined">close</span>
    </div>
    {{/each}}
    
{{/if}}
    <div id="imgLog">
        <img src="img/apresetacao.png" alt="img">
    </div>
   
    <div id="formularioL">
        <form action="{{url.url 'admin'}}" method="post" class="caixaPMsg">
            
            <div class="campos">
                <input type="email" placeholder="Digite seu Email" name="email">
            </div>

            <div class="campos">
                <input type="password" placeholder="Digite sua Senha" name="senha">
            </div>

            <div class="campos">
                <button>Login</button>
            </div>
        </form>
    </div>
</section>