<section class="caixaF">
    {{#each menssagem}}
    <div class="caixaMensagem {{class}}">
        <p >{{msg}}</p>
        <span class="fecharMsg material-icons-outlined">close</span>
    </div>
    {{/each}}

    <form action="/admin/criar/duvidas" method="post">
        <div class="campos">
            <p class="tituloF">Crie sua Pergunta!</p>
        </div>
        <div class="campos">
            <input type="text" placeholder="Digite sua pergunta:" name="pergunta">
        </div>
        <div class="campos">
            <textarea name="resposta" id="resposta" cols="30" rows="10" placeholder="Digite sua resposta:"></textarea >
        </div>
        <div class="campos">
            <button class="btnC">Envia</button>
        </div>
        
    </form>
</section>
